{% extends 'base.html'%}
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">

{% block content %}

<div class="container m-5">

    <div class="row">

        <!-- displaying  Username-->


        <!--Display profile photo-->
        <br>
        <br>

        <div class="col-md-6">
            {% if user.profile_pic_path %}

            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail"
                style="width: 700px;height: 400px;">

            {%else%}
            <p>No profile picture</p>

            {% endif %}

            {% if user == current_user %}
            <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post"
                enctype="multipart/form-data">

                <input type="file" name="photo" style="width: 550px;" class="form-control" required>
                <input class="btn btn-primary" type="submit">
            </form>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="jumbotron" style="height: 390px; background-color: rgb(245, 199, 207); width: 200px;">
                <h3>
                    <p style="font-family: 'Times New Roman', Times, serif; font-weight: bold; color: purple;">
                        Name:</span>
                    <ul> <span
                            style="font-family: 'Sansita Swashed', cursive; font-size: 18px;color: rgb(29, 29, 202);">{{user.username| capitalize}}
                        </span></ul>
                </h3>
                <br>
                <br>
                <hr style="border: 1px solid purple;">

                <br>
                <!--Displaying user bio-->
                {% if user.bio %}
                <p> <span style="font-family: 'Times New Roman', Times, serif;font-weight: bold;color: purple;">Bio:
                    </span>
                <ul><span style="font-family: 'Sansita Swashed', cursive;font-size: 18px;color: rgb(29, 29, 202);">
                        {{user.bio}}</span></ul>
                </p>
                {%else%}
                <p> {{user.username| capitalize}} has no bio </p>
                {% endif %}

            </div>
            {% if user == current_user %}
            <a class="btn btn-primary" style="margin-top:-30px; width: 200px;"
                href="{{url_for('main.update_profile',uname=user.username)}}">Edit bio</a>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}